{% extends 'base.html' %}
{% block title %}
    <title>admin_add</title>
{% endblock %}
{% block inner %}
    <aside id="fh5co-content">
		<div class="container">
            {% if pas %}
            <form class="form-horizontal form-login" role="form" method="post" >
                <div class="form-group">
                    <label for="addtitle" class="col-sm-2 control-label">{{ add.title.label.text }}</label>
                    <div class="col-sm-3">
                     {{ add.title }}
                     </div>
                    <div class="col-sm-5">
                        <ul class="text-danger">
                            {% for err in add.title.errors %}
                             <li>{{ err }}</li>
                             {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addtitle" class="col-sm-2 control-label">{{ add.time.label.text }}</label>
                    <div class="col-sm-3">
                     {{ add.time }}
                     </div>
                    <div class="col-sm-5">
                        <ul class="text-danger">
                            {% for err in add.time.errors %}
                             <li>{{ err }}</li>
                             {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addtitle" class="col-sm-5 control-label">{{ add.content.label.text }}</label>
                    <div class="col-sm-12 field" >
                     {{ add.content }}
                     </div>
                    <div class="col-sm-5">
                        <ul class="text-danger">
                            {% for err in add.content.errors %}
                             <li>{{ err }}</li>
                             {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form.csrf_token }}     <!--   在这个必须加-->
                        {{ form.submit }}
                    </div>
                </div>
            </form>

            {% else %}
            <form class="form-horizontal form-login" role="form" method="post" >
                <div class="form-group">
                    <label for="formpassword" class="col-sm-2 control-label">{{ form.password.label.text }}</label>
                    <div class="col-sm-3">
                     {{ form.password }}
                     </div>
                    <div class="col-sm-5">
                        <ul class="text-danger">
                            {% for err in form.password.errors %}
                             <li>{{ err }}</li>
                             {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form.csrf_token }}     <!--   在这个必须加-->
                        {{ form.submit }}
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </aside>
    <script>
    $(function(){
        $(".btn").on('click', function(){
        var _self = $(this);
        $.post(_self.attr('data-url'), function(rest){
            if (rest === '201'){
                _self.parents('tr').hide();
                alert('操作成功');
            }else if (rest === '404'){
                alert('未找到')
            }
          })
        })
    })
</script>
{% endblock %}

