{% extends 'blog.html' %}
{% block title %}
    <title>Blog of</title>
{% endblock %}
{% block innerhtml %}
    <div class="col-md-12">
        <div class="fh5co-blog animate-box">
            <div class="title title-pin text-center">
                <span class="posted-on">Nov. 15th 2016</span>
                <h3><a href="#">Modeling &amp; Stylist in USA</a></h3>
                <span class="category">Blog</span>
            </div>
{#	<a href="#"><img class="img-responsive" src="{{ url_for('static', filename='images/blog-1.jpg', _external=True) }}" alt=""></a>#}
            <div class="blog-text text-center">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>

            </div>
        </div>
    </div>
{% endblock %}