{% extends 'blog.html' %}
{% block title %}
    <title>Blog of{{ blog_obj.title }}</title>
{% endblock %}
{% block innerhtml %}
    <div class="col-md-12">
        <div class="fh5co-blog animate-box">
            <div class="title title-pin text-center">
                <span class="posted-on">{{ blog_obj.time }}</span>
                <h3>{{ blog_obj.title }}</h3>
                <span class="category">Blog</span>
            </div>
            <div class="blog-text">
                <pre>{{ blog_obj.content }}</pre>
            </div>
        </div>
    </div>
{% endblock %}